* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

#header_padding {
    width: 100%;
    height: 100px;
    background-image: url(header_bg.jpg);
    background-size: cover;
}

#header_border {
    height: 100px;
}
#header{
    position: fixed;
}
