body{
    background-color: #668c68;
    background-image: url("duckhunt.png");
    background-size: 100%,100%;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, h2{
    color:antiquewhite;
}

a:link, a:visited{
    color:springgreen
}

a:hover{
    color:yellow
} 

#sissejuhatus {
    margin-inline-start: 230px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); 
}
