* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

#sidebar ul {
    list-style-type: none; /* Eemaldab punktid */
    padding: 0; 
}
#sidebar ul li a {
    display: block; 
    background-color: #1c7c1f;
    color: white; 
    padding: 20px; 
    text-align: center; 
    text-decoration: none; 
    border-radius: 15px; /* Ümarad nurgad */
    margin-bottom: 20px; /* Vahe nuppude vahel */
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
}
#sidebar ul li a:hover {
    background-color: #358039; /* Tumendab tausta kursori all */
}
#padding ul li {
    background-color: rgba(0, 0, 0, 0); 
}
#padding {
    position: fixed;
    width: 230px;
    height: 100vh;
    float: left;
    background-color: #527053;
}

#sidebar_border {
    width: 250px;
    height: 100vh;
    float: left;
}

