
table {
    width: 70%;
    margin-inline-start: 230px;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: rgb(138, 144, 54);
}
