body{
    background-color: #668c68;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;
}

<<<<<<< HEAD
h1 {
    color: #152407;
}

h2 {
    color: #233B0C;
    font: x-large;
}

p {
    font-size: larger;    
}

=======
>>>>>>> 9a3660d2fad7cf11d255b32b973a6f519eb45246
img {
    width: 550px;
    border: 2px;
    float: right;
    padding: 20px
<<<<<<< HEAD
}
=======
}
>>>>>>> 9a3660d2fad7cf11d255b32b973a6f519eb45246
